[Unit]
Description=Memory check, beep if over 50Mbs and 1Gbs 
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/kevin/cpu_usage.py

[Install]
WantedBy=multi-user.target
